
<section class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1>New profile</h1>
		<form ng-submit="save()">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Name</label>
		    <input type="text" class="form-control" placeholder="Name" ng-model="profile.name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Carrer</label>
		    <input type="text" class="form-control" placeholder="Carrer" ng-model="profile.carrer">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Job</label>
		    <input type="text" class="form-control" placeholder="Job" ng-model="profile.job">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Address</label>
		    <input type="text" class="form-control" placeholder="Address" ng-model="profile.address" >
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Location</label>
		    <input type="text" class="form-control" placeholder="Location" ng-model="profile.location">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">About me</label>
		    <textarea class="form-control" rows="3" ng-model="profile.about"></textarea>
		  </div>

          <div class="form-group">
		    <label for="exampleInputFile">Photo</label>
		    <input type="text" class="form-control" placeholder="Url photo" ng-model="profile.photo">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Gmail Url</label>
		    <input type="text" class="form-control" placeholder="Url Gmail" ng-model="profile.gmail">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Facebook Url</label>
		    <input type="text" class="form-control" placeholder="Url facebook" ng-model="profile.facebook">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Twitter Url</label>
		    <input type="text" class="form-control" placeholder="Url twitter" ng-model="profile.twitter" >
		  </div>
		  
		  <button type="submit" class="btn btn-default">Save</button>
		</form>

	</div>
	
	
</section>
